body {
  background: #71C6C6;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
}

h1 {
  text-decoration: underline;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
  color: #244F75;
  text-shadow: 1px 1px black;
}

form {
  display: flex;
  justify-content: center;
}

.UserInput {
  width: 30px fit-content;
  margin: 25px 25px;
  padding: 4px;
  border-radius: 4px;
}

.suggestions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.suggestions > li {
  background: linear-gradient(#244F75, #71C6C6);
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  padding-top: 2%;
  padding-right: 4%;
  width: 45%;
  border-radius: 4px;
}

li {
  display: flex;
  justify-content: start;
  }

.flex-outer {
  width: 960px;
  padding: 0 16px;
  margin:0 auto;
}

@media screen and (min-width: 1600px) { 
  .container{
    display: flex;
    justify-content: flex-start;
  }

  .UserInput{
    width: 250px;
    height: 25px;
    margin: 25px 25px;
    padding: 4px;
    border-radius: 4px;
  }

  .try {
    display: flex;
    flex-direction: column;
    position: fixed;

  }

  .suggestions {
    padding: 10%;
  }

  .filterCases {
    width: 100%;
  }

}