/*CSS*/
body {
    background: bisque;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    background: purple;
  }

  .suggestions {
    /* background: cadetblue;  color here is just to show what area this holds */
    padding-bottom: 30px;
  }
 
  .filteredDisplay {
    background: blueviolet;
    padding-top: 2%;
    margin: 1%;
    width: 45%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5px 5px;
    border-radius: 4px;
  }

  .UserInput {
    width: 48%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 25px 25px;
    padding: 4px;
    border-radius: 4px;
  }

  .interface {
    padding: 1px;
    margin-top: 10px;
    background: red;
  }
  
  /* The beige DIV that holds assignment 2 and by group 18 */
  .header {
    background-color: palegoldenrod;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5px 5px;
    padding: 0px 0px;
    border-radius: 4px;
  }

  /* Assignment 2 */
  h1 {
    margin: 0px 0px;
    padding: 10px;
    color: rgb(201, 114, 114);
    display: flex;
    text-decoration: underline;
    align-self: center;
    font-weight: bold;
    font-size: 2.5em;
    text-transform: capitalize;
    flex-wrap: nowrap;
  }

  /* By Group 18 */
  .cap {
    color: brown;
    display: flex;
    align-self: center;
    margin-top: 0px;
  }

  /* all the CSS under this comment is mostly skeletal */

  .flex-outer li,
  .flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
  }
  

  .flex-outer > li > label + *,
  .flex-inner {
    flex: 1 0 225px;
  }
  
  .flex-outer button {
    background-color: darkolivegreen;
    color: white;
    padding: 6px 12px;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    border-radius: 3px;
    display: block;
    margin: 0 auto;
  }
  
  .flex-inner li {
    width: 100%;
    padding: 8px 16px;
    display: flex;
    flex-direction: row;
  }
  
  .flex-inner input {
    margin-right: 15px;
  }
  
  .flex-inner {
    padding: 0 8px;
    justify-content: space-between;
  }
  
  .flex-outer {
    width: 960px;
    padding: 0 16px;
    margin:0 auto;
  }
  
  
 
  
  
  

